[user]
	name = Jan Bader
	email = c.github@jan.javil.eu
[alias]
	ap = add -p
	c = commit -m
	ca = commit --amend
	cac = commit --amend --no-edit
	co = checkout
	df = diff -w
	dfs = diff -w --staged
	pr = pull --rebase
	s = status -sb
	l = log --oneline --graph --decorate
